/* General Navbar Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
}

.navbar-logo a {
  font-family: cursive;
  font-size: 24px;
  color: #000;
  text-decoration: none;
}

.navbar-links {
  font-family: "Times New Roman", Times, serif;
  margin-right: 10%;
  display: flex;
  align-items: center;
}

.navbar-links ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

.navbar-links li {
  display: inline;
}

.navbar-links a {
  text-decoration: none;
  color: #000;
  font-size: 16px;
  font-weight: 500;
}

.navbar-links a:hover {
  color: #007bff;
}

/* Mobile Styles */
.hamburger-icon {
  margin-right: 10%;
  display: none;
  cursor: pointer;
}

.hamburger-icon .bar {
  width: 25px;
  height: 3px;
  background-color: #000;
  margin: 4px 0;
  transition: 0.4s;
}

/* Transform bars into "X" when menu is open */
.change {
  background-color: #007bff;
}

.change:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.change:nth-child(2) {
  opacity: 0;
}

.change:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -6px);
}

/* Responsive Styles */
@media (max-width: 768px) {
  .navbar-links {
    position: absolute;
    top: 70px;

    width: 130%;
    height: 40vh;
    background-color: white;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 999;
    margin-right: 10%;
  }

  .navbar-links.open {
    display: flex;
  }

  .navbar-links ul {
    flex-direction: column;
    gap: 20px;
  }

  .hamburger-icon {
    display: block;
  }
}
